@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using Epishop.Business
@model IPageViewModel<SitePageData>
<!DOCTYPE html>
<html lang="@Model.CurrentPage.LanguageBranch">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Model.CurrentPage.MetaTitle</title>
        @*To prevent duplication of identitical pages*@
        @Html.CanonicalLink()
        @Html.AlternateLinks()
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/js")
        @*Enable components to require resources. For an example, see the view for VideoBlock.*@
        @Html.RequiredClientResources("Header")
    </head>

    <body>
        @if (Model.Layout.IsInReadonlyMode)
        {
            Html.RenderPartial("Readonly", Model);
        }

        @Html.RenderEPiServerQuickNavigator()
        @Html.FullRefreshPropertiesMetaData()
        <div class="container">
            @if(!Model.Layout.HideHeader)
            {
                Html.RenderPartial("Header", Model);
            }
            @RenderBody()
            @if(!Model.Layout.HideHeader)
            {
                Html.RenderPartial("Footer", Model);
            }
        </div>
        @Html.RequiredClientResources("Footer")
    </body>
</html>
